@use "variables";
@use "mediaQueries";
.animation {
  position: relative;
  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__icon-dots {
    max-height: 190px;
    width: fit-content;
    &--pink {
      margin-right: auto;
    }
    &--teal {
      margin-left: auto;
    }
  }
  &__icon-arrows {
    position: absolute;
    top: 23px;
    left: 47.5%;
    transform: translateX(-50%);
  }
}
// Media Queries
@include mediaQueries.Tablet {
  .wrapper--animation {
    padding-top: 0;
  }
  .animation {
    &__icon-arrows {
      left: auto;
      transform: none;
      right: 0;
      top: 50px;
      bottom: 0;
    }
    &__icon-dots {
      max-height: 100px;
      padding: 20px 0;
    }
  }
}
