@use "mediaQueries";
.contributors {
  padding: 228px 0 300px;
  position: relative;
}
.contributor {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease, transform 1s ease;
  &--visible {
    opacity: 1;
  }
  &.slide-in-left {
    transform: translateX(-50px);
    animation: slideFromLeft 2s ease forwards;
  }
  &.slide-in-right {
    transform: translateX(50px);
    animation: slideFromRight 2s ease forwards;
  }
}
.contributors__title {
  margin-bottom: 57px;
  letter-spacing: -3px;
}
.contributors__boxes {
  display: grid;
  column-gap: 97px;
  row-gap: 65px;
  margin-bottom: 69px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.contributor__box-image {
  width: fit-content;
  margin-bottom: 28px;
  max-height: 250px;
}
.contributor__caption-title {
  text-transform: none;
  font-size: 30px;
}
.contributor__caption-role {
  font-size: 28px;
}
.contributors__subtitle {
  font-size: 54px;
  line-height: 77px;
  text-transform: none;
  max-width: 687px;
  letter-spacing: 0;
}
.contributor__caption-cta {
  padding: 20px 20px 12px;
  margin-top: 15px;
}
.contributors__icon {
  position: absolute;
}
.contributors__icon--dots {
  left: 0;
  bottom: 94px;
}
.contributors__icon--arrows {
  right: 26.4%;
  bottom: 15px;
}
.contributors__icon--hexagon {
  right: 92px;
  bottom: 127px;
}
@include mediaQueries.Laptop {
  .contributors__boxes {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
  }
  .contributor__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contributors__subtitle {
    font-size: 46px;
  }
}
@include mediaQueries.Tablet {
  .contributors {
    padding: 50px 0 180px;
  }
  .contributors__boxes {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .contributors__subtitle {
    font-size: 40px;
    line-height: 50px;
  }
}
@include mediaQueries.MobileL {
  .contributors__subtitle {
    font-size: 34px;
  }
}
@include mediaQueries.Mobile {
  .contributors__subtitle {
    font-size: 28px;
  }
}
