@use "mediaQueries";
.contributors {
  padding: 228px 0 300px;
  position: relative;
  &__title {
    margin-bottom: 57px;
    letter-spacing: -3px;
  }
  &__boxes {
    display: grid;
    column-gap: 97px;
    row-gap: 65px;
    margin-bottom: 69px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &__subtitle {
    font-size: 54px;
    line-height: 77px;
    text-transform: none;
    max-width: 687px;
    letter-spacing: 0;
  }
  &__icon {
    position: absolute;
    &--dots {
      left: 0;
      bottom: 94px;
    }
    &--arrows {
      right: 26.4%;
      bottom: 15px;
    }
    &--hexagon {
      right: 92px;
      bottom: 127px;
    }
  }
}
.contributor {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease, transform 1s ease;
  &--visible {
    opacity: 1;
  }
  &.slide-in-left {
    transform: translateX(-50px);
    animation: slideFromLeft 2s ease forwards;
  }
  &.slide-in-right {
    transform: translateX(50px);
    animation: slideFromRight 2s ease forwards;
  }
  &__box-image {
    width: fit-content;
    margin-bottom: 28px;
    max-height: 250px;
  }
  &__caption-title {
    text-transform: none;
    font-size: 30px;
  }
  &__caption-role {
    font-size: 28px;
  }
  &__caption-cta {
    padding: 20px 20px 12px;
    margin-top: 15px;
  }
}
@include mediaQueries.Laptop {
  .contributors {
    &__boxes {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-items: center;
    }
    &__subtitle {
      font-size: 46px;
    }
  }
  .contributor {
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
@include mediaQueries.Tablet {
  .contributors {
    padding: 50px 0 180px;
    &__boxes {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &__subtitle {
      font-size: 40px;
      line-height: 50px;
    }
  }
}
@include mediaQueries.MobileL {
  .contributors {
    &__subtitle {
      font-size: 34px;
    }
  }
}
@include mediaQueries.Mobile {
  .contributors {
    &__subtitle {
      font-size: 28px;
    }
  }
}
