@use "mediaQueries";
@use "mixins";
@use "variables";
.footer {
  padding: 53px 0 0px;
  position: relative;
  &__links-content {
    display: flex;
  }
  &__content-top {
    display: flex;
    width: 100%;
    padding-bottom: 122px;
  }
  &__content-bot {
    padding-bottom: 16px;
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: 280px;
    margin-right: 115px;
    &-image {
      width: 100%;
    }
  }
  &__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-right: 120px;
  }
  &__link {
    width: fit-content;
    &:hover {
      box-shadow: inset 150px 0 0 0 variables.$neonGreen;
    }
  }
  &__socials-list {
    list-style: none;
    display: grid;
    align-items: center;
    padding: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 20px;
  }
  &__icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 14%;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  &__social-link {
    &:hover {
      .footer__social-link-image {
        transform: scale(1.5);
      }
    }
    &-image {
      @include mixins.transitionStandardTime;
      max-height: 18px;
      max-width: 18px;
    }
  }
  &__bot-paragraph {
    text-align: center;
    font-size: 28px;
  }
}
@include mediaQueries.CustomMediumLarge {
  .footer {
    &__icon {
      max-height: 100px;
      max-width: 100px;
      right: 8%;
    }
  }
}
@include mediaQueries.Laptop {
  .footer {
    &__logo {
      margin: 0 0 20px 0;
    }
    &__links-content {
      justify-content: center;
      gap: 100px;
    }
    &__content-top {
      flex-direction: column;
      padding-bottom: 40px;
    }
    &__links-list {
      margin: 0 0 20px 0;
      padding: 0;
      row-gap: 4px;
    }
    &__link {
      font-size: 24px;
    }
    &__socials-list {
      row-gap: 20px;
      column-gap: 40px;
    }
    &__social-link-image {
      max-width: 50px;
      max-height: 50px;
    }
    &__bot-paragraph {
      font-size: 22px;
    }
    &__content-bot {
      padding-bottom: 0;
    }
  }
}
@include mediaQueries.Tablet {
  .footer {
    &__links-content {
      flex-direction: column;
      gap: 0;
    }
    &__socials-list {
      column-gap: 60px;
      row-gap: 10px;
      width: fit-content;
    }
    &__bot-paragraph {
      font-size: 18px;
    }
    &__icon {
      opacity: 0.4;
    }
  }
}
@include mediaQueries.MobileL {
  .footer {
    &__logo {
      max-width: 150px;
    }
    &__socials-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 20px;
    }
  }
}
