@use "variables";
@use "mediaQueries";
@use "mixins";
.wrapper {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 25px;
  @include mediaQueries.Tablet {
    padding-inline: 20px;
  }
}
.image {
  height: auto;
  width: 100%;
  display: block;
}
.link {
  color: variables.$white;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1px;
  box-shadow: inset 0 0 0 0 variables.$neonGreen;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  &:hover {
    box-shadow: inset 200px 0 0 0 variables.$neonGreen;
    color: variables.$black;
  }
  @include mediaQueries.Tablet {
    font-weight: 400;
  }
}
.title {
  font-family: "Aspergit", sans-serif;
  font-size: 94px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: -1px;
}
.button {
  padding: 10px;
}
.paragraph {
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -1px;
  @include mediaQueries.Tablet {
    font-size: 24px;
  }
}
.cta {
  font-family: "Aspergit", sans-serif;
  color: variables.$purple;
  font-weight: 700;
  font-size: 18px;
  background-color: variables.$neonGreen;
  text-decoration: none;
  clip-path: polygon(12% 0%, 88% 0%, 100% 50%, 88% 100%, 12% 100%, 0% 50%);
  padding: 22px 90px 16px;
  display: inline-block;
  text-align: center;
  @include mixins.transitionStandardTime;
  &:hover {
    box-shadow: inset 300px 0 0 0 variables.$pink;
    color: variables.$white;
  }
}
