@use "mediaQueries";
.sidebar {
  position: fixed;
  top: 28%;
  right: 35px;
  z-index: 999;
}
.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  height: 100%;
}
.sidebar__social-image {
  max-width: 30px;
}
@include mediaQueries.Desktop {
  .sidebar {
    right: 10px;
  }
  .sidebar__social-image {
    min-width: 30px;
  }
}
@include mediaQueries.Tablet {
  .sidebar__social-image {
    min-width: 34px;
  }
  .sidebar {
    right: 10px;
    top: auto;
    bottom: 0;
  }
}
