@use "mediaQueries";
@use "mixins";
@use "variables";
.sidebar {
  position: fixed;
  top: 30%;
  right: 0;
  padding: 5px 36px 5px 5px;
  z-index: 999;
  background-color: rgba(variables.$purple, 0.8);
  backdrop-filter: blur(1px);
  border-radius: 10px 0 0 10px;
}
.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  height: 100%;
  padding: 0;
}
.sidebar__social-image {
  @include mixins.transitionStandardTime;
  max-width: 30px;
}
.sidebar__social-icon:hover {
  .sidebar__social-image {
    transform: scale(1.4);
  }
}
@include mediaQueries.Desktop {
  .sidebar {
    right: 0px;
    padding: 10px;
  }
  .sidebar__social-image {
    min-width: 30px;
  }
}
@include mediaQueries.Tablet {
  .sidebar__social-image {
    min-width: 34px;
  }
  .sidebar__list {
    gap: 20px 0;
  }
  .sidebar {
    border-radius: 10px 0 0 0;
    top: auto;
    bottom: 0;
  }
}
