@use "mediaQueries";
.whyus {
  padding: 34px 0 296px;
  overflow: hidden;
  position: relative;
}
.whyus__title {
  margin-bottom: 82px;
}
.whyus__boxes {
  display: grid;
  column-gap: 103px;
  row-gap: 117px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.whyus__box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: transform, opacity;
}
.whyus__box--visible {
  animation: fadeInUp 0.6s ease-out forwards;
}
.whyus__box-title {
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 50px;
  text-transform: none;
}
.whyus__box-title--shortened {
  padding-right: 182px;
}
// Icons
.whyus__icon {
  position: absolute;
  width: fit-content;
  z-index: -1;
}
.whyus__icon--nonagone-clear {
  right: 140px;
  top: 31px;
  animation: pulsate 6s ease-in-out infinite;
}
.whyus__icon--hexagons-dual {
  left: 32%;
  top: 43%;
}
.whyus__icon--dots-teal-large {
  right: 0;
  top: 31%;
}
.whyus__icon--octagone {
  left: 123px;
  bottom: 62px;
  animation: floatAround 20s ease-in-out infinite;
}
@include mediaQueries.Laptop {
  .whyus__box-title--shortened {
    padding-right: 0;
  }
  .whyus__boxes {
    gap: 20px;
  }
}
@include mediaQueries.Tablet {
  .whyus__icon {
    max-height: 80px;
    opacity: 0.2;
  }
  .whyus__icon--nonagone-clear {
    top: 5%;
  }
  .whyus__icon--hexagons-dual {
    left: 0;
    top: 50%;
  }
  .whyus__boxes {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  .whyus__box-title {
    font-size: 36px;
    line-height: 28px;
  }
}
@include mediaQueries.MobileL {
  .whyus__boxes {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .whyus__box-title {
    font-size: 28px;
  }
}
